@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --primary: #d7c99e;
  --primary-light: #dbcfaa;
  --text: #51300c;
}


html{
  background-color: var(--background);
  color: var(--text);
}

.hoverable{
  background-color: var(--primary);
}

.hoverable:hover{
  background-color: var(--primary-light);
}

